doctype html
html
  head
    title Motion Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/img/2.png ").img
                | MDA
            li #[a(href="/") Home] 
            li #[a(href="#missionSection") About] 
            li #[a(href="/services") Services] 
            li #[a(href="/") Class info] 
            li #[a(href="/contact") Contact us]  

    block content
    footer#footer 
        | Copyright © 2023 motionDanceAcademy.com | All rights reserved      