extends base.pug

block scripts
  script(src='/static/index.js')
  script(src='/pets.js')

block style
    style
      include ../static/style.css
      include ../static/services.css

block content
    div.container3 
        h1 Our Services 
        div.serve 
            div.box
                h2 Private Dance Lessons 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore praesentium quas quam minima sed eum quia sit esse labore ullam, quis eaque omnis ea veniam tenetur obcaecati nesciunt sunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi magni alias aliquid. Corrupti, amet dolores nam tempora exercitationem, quas molestias maxime sed fugit minima ea sint! Doloribus magnam tempora necessitatibus, debitis dicta doloremque vero. Doloremque possimus esse beatae voluptas!
            div.box
                h2 Group Dance Lessons 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore praesentium quas quam minima sed eum quia sit esse labore ullam, quis eaque omnis ea veniam tenetur obcaecati nesciunt sunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique optio dolore tempora. Debitis excepturi eveniet quidem autem aut, commodi, placeat impedit temporibus ducimus mollitia pariatur. Blanditiis at quos praesentium vero, facere officia, porro quod recusandae sapiente ipsa eaque, natus modi?
            div.box
                h2 Group Dance Lessons 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore praesentium quas quam minima sed eum quia sit esse labore ullam, quis eaque omnis ea veniam tenetur obcaecati nesciunt sunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur odio nam officia repellendus impedit, nemo, qui, vero iusto rerum voluptas similique eum accusantium nihil repudiandae quas ratione distinctio corrupti blanditiis et itaque quod quos dolores autem mollitia! Doloribus, repudiandae nihil.
            div.box
                h2 Dance Fitness
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore praesentium quas quam minima sed eum quia sit esse labore ullam, quis eaque omnis ea veniam tenetur obcaecati nesciunt sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos corporis ratione exercitationem laudantium iure? Similique nam fuga quam, harum corporis eligendi minus ex illo natus, magni mollitia. Accusamus repellat hic voluptatibus, in sed debitis illo! Odit consequuntur culpa ipsum?
            div.box
                h2 Dancesport Competitions 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore praesentium quas quam minima sed eum quia sit esse labore ullam, quis eaque omnis ea veniam tenetur obcaecati nesciunt sunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur corporis praesentium ducimus exercitationem sint! Explicabo odio iste aspernatur facilis aliquid ea odit officiis blanditiis, incidunt impedit tenetur quibusdam id pariatur provident nisi accusamus alias ut. Alias temporibus in tempore quam!
            div.box
                h2 Shows and Entertainment
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore praesentium quas quam minima sed eum quia sit esse labore ullam, quis eaque omnis ea veniam tenetur obcaecati nesciunt sunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit accusantium tempora molestias numquam quibusdam sit magni a ipsum officia? Id laudantium impedit magni laborum esse perferendis, alias quo autem eligendi nulla explicabo velit quas commodi accusamus tenetur cumque reprehenderit.